{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock head %}

{% block content %}
    <div class="raw">

        {% for user in about %}
            <div class="coluna">
                <div class="container">
                    <img src="{{user.photo}}" alt="{{user.name}}">
                    <h1>{{user.name}}</h1>
                    <h2>{{user.role}}</h2>
                    <p>{{user.description}}</p>
                </div>

                <div id="links-footer" class="links">

                    {% for link in user.links %}
                        <a href="{{link.url}}" target="_blank">{{link.name}}</a>
                    {% endfor %}

                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}