{% extends "layout.njk" %}

{% block head %}
    <title>Apresentação</title>
{% endblock head %}

{% block content %}
    <div class="raw">
        <div class="coluna home">
            <h1>Apresentação</h1>
            <p class="apresentation">
                Esta aplicação visa divulgar o <span class="color">curso gratuito</span> de física básica do 
                canal Ciência Todo Dia, juntamente com os aprendizados adquiridos durante o os primeiros módulos 
                do <span class="color">Bootcamp LaunchBase</span>, Rocketseat.
            </p>
        </div>
    </div>
{% endblock content %}