<!DOCTYPE html>
<html lang="pt_Br">
<head>

    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />

    {% block head %}{% endblock head %}

</head>
<body>

    <header>
        <div class="links">
            <a href="/">Apresentação</a>
            <a href="/sobre">Sobre</a>
            <a href="/classes">Aulas</a>
        </div>
    </header>
    
    {% block content %}{% endblock content %}

</body>
</html>